[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "==19.3b0"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
factory-boy = "*"

[packages]
django-crispy-forms = "==1.8.*"
"psycopg2-binary" = "*"
Django = "==2.1.*"
gunicorn = "*"
django-filter = "*"

[requires]
python_version = "3.7"
