[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "==21.5b1"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
factory-boy = "*"
ipython = "*"
django-debug-toolbar = "*"

[packages]
django-crispy-forms = "*"
"psycopg2-binary" = "*"
Django = "<4"
gunicorn = "*"
django-filter = "*"
django-rest-registration = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
regex = "*"
sentry-sdk = "*"
celery = "*"
redis = "*"
requests = "*"
"backports.zoneinfo" = "==0.2.1"

[requires]
python_version = "3.8"
