{% extends 'data/navbar.html' %}
{% load i18n staticfiles %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1> {{ page_title }}</h1>
            <p>{% blocktrans with gastros_count=gastros|length %}At the moment there are {{ gastros_count }}
                entries.{% endblocktrans %}</p>
        </div>
    </div>
    {% block topoflocationlist %}
    {% endblock %}
    <!-- Table -->
    <div class="container">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Filter</span>
            </div>
            <input id="filter" type="text" class="form-control" placeholder="Type here...">
        </div>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>{% trans 'name' %}</th>
                <th>{% trans 'street' %}</th>
                <th>{% trans 'city code' %}</th>
                <th>{% trans 'vegan' %}</th>
                <th>{% trans 'review' %}</th>
            </tr>
            </thead>
            <tbody class="searchable">
            {% for gastro in gastros %}
                <tr class="clickable-row" data-href="{% url 'data:gastro-update' gastro.id_string %}">
                    <td>{{ gastro.name }}</td>
                    <td>{{ gastro.street }}</td>
                    <td>{{ gastro.cityCode }}</td>
                    <td>{{ gastro.get_vegan_display }}</td>
                    <td>{{ gastro.review_link|yesno:'✔,✖' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <!-- location-list search and row click -->
    <script src="{% static "js/location-list.js" %}"></script>
{% endblock %}
