{% extends 'data/gastro.html' %}
{% load i18n static crispy_forms_tags %}

{% block content %}
<nav class="nav flex-column sticky-top" id="sidebar">
  <a class="nav-link" href="#general">{% trans 'general' %}</a>
  <a class="nav-link" href="#opening-hours">{% trans 'opening hours' %}</a>
  <a class="nav-link" href="#details">{% trans 'details' %}</a>
  <a class="nav-link" href="#tags">{% trans 'tags' %}</a>
</nav>
<div class="container" id="container-edit">
    <div class="page-header">
        <div class="row">
            <div class="col-md">
                <h1>{% trans 'Gastro Submit Edit' %}</h1>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <h6 class="float-left">{{ gastro_submit.submit_email }}</h6>
            </div>
         </div>
    </div>
    <hr>
    <form action="{% url 'data:gastro-submit-edit' gastro_submit.id %}" method="POST" class="post-form">
        {% csrf_token %}
        {% include 'data/includes/gastro-form.html' %}
    </form>
</div>
{% endblock %}

{% block script %}
   {{ block.super }}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}