{% extends 'data/navbar.html' %}
{% load static %}

{% block css %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

    <!-- timepicker -->
    <link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <!-- jquery -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

    <!-- timepicker -->
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'js/timepicker.js' %}"></script>
{% endblock %}