{% extends "data/base.html" %}
{% load i18n static %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/berlin-vegan-logo.png' %}" width="30" height="30" alt="">
      Berlin-Vegan Data</a>

    <div class="collapse navbar-collapse">
    {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page_name == 'dashboard' %}active{% endif %}">
                <a class="nav-link" href="{% url 'data:dashboard' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="nav-item {% if page_name == 'gastros-closed' %}active{% endif %}">
                <a class="nav-link" href="{% url 'data:gastros-closed' %}">{% trans 'Closed' %}</a>
            </li>
            <li class="nav-item {% if page_name == 'gastro-new' %}active{% endif %}">
                <a class="nav-link" href="{% url 'data:gastro-new' %}">{% trans 'New' %}</a>
            </li>
            <li class="nav-item {% if page_name == 'gastros-submit-list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'data:gastro-submit-list' %}">
                    {% trans 'Submissions' %}
                    <span class="badge badge-light">{{ submit_count }}</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_superuser %}
                <li class="nav-item align-left">
                    <a class="nav-link" href="{% url 'admin:index' %}">{% trans 'admin' %}</a>
                </li>
            {% endif %}
             <li class="nav-item align-left {% if page_name == 'user-profile' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'data:user-profile' %}">{% trans 'Profile' %}</a>
             </li>
        </ul>

        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'data:logout' %}?next=/accounts/login/">{% trans 'logout' %}</a>
    {% endif %}
    </div>
</nav>
{% endblock %}

